/* navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color:#4e342e;
    z-index: 999;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:25px;
    font-weight: 600;
    color: #F9F2EB;
    
}

.logo img{
    width: 75px;
    height: 75px;
}

.container ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.container ul li a{
    text-decoration: none;
    color: #F9F2EB;
    font-size: 18px;
    font-weight: 600;
}

.container ul li a:hover{
    border-bottom: 2px solid #c58a5c;
}

/* Beranda */
#home{
    height: 100vh;

    background-image:url("image\\background.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.beranda{
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 20px;
}

.beranda h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.beranda p{
    font-size: 25px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.beranda a{
    display: inline-block;
    text-decoration: none;
    background-color: #c58a5c;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.keterangan {
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom : 30px;
}

.beranda a:hover{
    background-color: #a86f44;
}


/* About */
.tentang-kami{
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.tentang-kami h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    color:#4e342e;
    margin-top: 60px;
}

.isi-tentang{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.teks-tentang{
    flex: 1;
    margin-top: 50px;
}

.teks-tentang p{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: justify;
    margin-left: -65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.isi-tentang img{
    width: 400px;
    height: auto;
    margin-top: -80px; 
    margin-right: -200px;
}

.judul-about{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    color: #4e342e;
    font-size: 40px;
}

.about-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 90px;
    margin-top: 50px;
}

.about-container figure{
    width: 100%;
    max-width: 350px;
    flex: 1 1 300px;
}

.about-container figure img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.about-container figure p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    font-style: normal;
}

.penjelasan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    margin: 10px;
}

/* menu */
figure {
    width: 100%;
    max-width: 350px;
    flex: 1 1 300px; 
    margin: 10px;
    border: 1px ;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background-color: #4e342e;
    color: aliceblue;
    transition: 0.3s;
}
figure:hover {
    transform: translateY(-8px)
}
figure img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
figure p {
    margin: 10px;
}
.Harga {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 10px;
    font-size: 20px;
}
.Nama-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 10px;
}
.Menu-Favorit {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.Coffe {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
#Pilihan {
    width: 200px;
    height: 50px;
    margin: 10px;
    background-color: #4e342e;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    margin-bottom: 20px;
}
.daftar-menu {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #4e342e;
    text-shadow: black;
    margin-top: 60px;
    margin-bottom: 15px;
}
.Makanan {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.Non-coffe {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
p {
    font-size: 15px;
    margin: 10px;
}
i {
    font-size: 15px;
    margin: 10px;
}
.Kategori-menu[data-kategori="Favorit"] {
    display: none;
}
.garis {
    width: 100px;
    height: 5px;
    background-color: #d5b56e;
    margin: 0 auto;
    margin-bottom: 25px;
}


/* footer */
.footer {
    background-color: rgb(51, 43, 37);
    color: white;
    padding: 60px 80px 30px;
}

.diatur {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.diatur div {
    flex: 1;
    min-width: 250px;
}

.diatur h2,
.diatur h3 {
    margin-bottom: 25px;
    font-size: 30px;
}

.diatur p,
.diatur li {
    font-size: 18px;
    line-height: 1.8;
    margin: 0px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 15px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover {
    text-decoration: underline;
}


.footer hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin: 40px 0 30px;
}

.footer a:hover {
    text-decoration: underline;
}

/* contac  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f5f0;
}

/* Contact Section */
.contact{
    padding: 60px 10%;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none; 
    min-height: calc(100vh - 90px);
    box-sizing: border-box;  
}
#contact {
    background-size: cover;
}

.contact h1{
    color: #4e342e;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle{
    color: #666;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
    text-decoration: none;
}

.contac{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
    margin-top: 60px;
    margin-bottom: 30px;
    text-decoration: none;
}

.contac a {
    text-decoration: none;
    color: inherit;
}

.contac:hover{
    transform: translateY(-8px);
}

.contac h2{
    color: #4e342e;
    margin-bottom: 15px;
}

.contac p{
    color: #555;
    line-height: 1.8;
}
.copy {
    text-align: center;
}

/* Sosial Media */
.sosmed{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sosmed a{
    text-decoration: none;
    background-color: rgb(128, 80, 46);
    color: white;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.sosmed a:hover{
    background-color: #6d4c41;
}

/* untuk hp  */
.menu-toggle,
.close-menu{
    display:none;
}

@media (max-width:768px){

    .menu-toggle{
        display:block;
        color: #F9F2EB;
        font-size: 30px;
        cursor:pointer;
    }

    .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:20px;
    font-weight: 600;
    color: #F9F2EB;
    
    }

    .logo img{
        width: 50px;
        height: 50px;
    }

    .container{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #f8f5f0;
        transition: 0.4s;
        z-index: 1000;
    }

    .container.active{
        left: 0;
    }

    .close-menu{
        display:block;
        position:absolute;
        top:20px;
        right:30px;
        font-size:30px;
        color:#4e342e;
        cursor:pointer;
    }

    .container ul{
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:40px;
    }

    .container ul li a{
        color:#4e342e;
        font-size:20px;
    }

    .isi-tentang{
        flex-direction: column-reverse;
    }

    .teks-tentang p{
        margin-left: 10px;
    }

    .isi-tentang img{
        margin: 0;
        margin-left: 85px;
        width: 200px;
        margin-bottom: -150px;
    }

    .contact h1, .tentang-kami h1, .judul-about, .daftar-menu, {
        font-size: 30px;
    }

    .beranda h1 {
        font-size: 40px;
    }
    .beranda p {
        font-size: 20px;
    }

    .garis {
    width: 75px;
    height: 4px;
    }

    .keterangan , .subtitle {
        font-size: 18px;
    }

    .diatur h2, .diatur h3 {
        font-size: 20px;
    }

    .diatur p, .diatur li, .copy {
        font-size: 16px;
    }

    .contac h2 {
        font-size: 20px;
    }
    #Pilihan {
        width: 120px;
        height: 35px;
        font-size: 14px;
    }

    

}

